#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

* {
  box-sizing: border-box;
}

/* Animación simple para el botón al tocar */
button:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}